<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>412143049682-c42j03cdnn3hulcog099268qrjvvb62g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.412143049682-c42j03cdnn3hulcog099268qrjvvb62g</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>412143049682-0f0j87d6jbksij90cj8pct7po9pspb0o.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCbUxOoujhdpfosK4iS04jcMeRLGq6JQyg</string>
	<key>GCM_SENDER_ID</key>
	<string>412143049682</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tv.app.RideShare-FR-User</string>
	<key>PROJECT_ID</key>
	<string>saferidefr</string>
	<key>STORAGE_BUCKET</key>
	<string>saferidefr.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:412143049682:ios:ada8c6a3f7921e8a49860b</string>
</dict>
</plist>